.btn-black{
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  background-color: black;
  border: none;
}
.txt-color {
  color: #01F897;
}
a{
  text-decoration: none;
}
.react-multiple-carousel__arrow {
	position: relative!important;
}