.txt-color {
  color: #01F897;
}
a{
  text-decoration: none;
}
.react-multiple-carousel__arrow {
	position: relative!important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* for navbar in mobile view */
@media screen and (max-width: 767px) {
  .navbar-toggler {
    width: 80px;
  }
  .nav-btn-area {
    display: contents;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
}
@media screen and (max-width: 400px) {
  .service-name {
    display: none;
  }
  .hire-me-btn {
    width: 100px !important;
  }
}
